* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

@media screen and (width: 400px) {
  #root {
    border: 3px solid red;
  }
}
